
@{
    ViewData["Title"] = "Contact";
}

<main>
    <h1>Contact</h1>
    <p>This site by Mr Dog</p>
    <p>Last updated 21 October 2023</p>
    <p>Email Webmaster: <a href="mailto:mrdog@petitemreviews.com">mrdog@petitemreviews.com</a></p>
    <button id="say-hello">Say Hello</button>
</main>